#table table {
    margin-left: auto;
    margin-right: auto;
}

div.Picture a img {
    padding-bottom: 50px;
    padding-top: 50px;
}

td a img {
    padding-left: 50px;
    padding-right: 50px;
}

div.panorama a img {
    width: 100%;
    padding-top:100px;
    padding-bottom: 100px;
}
nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}
nav ul {
	background: #2980b9; 	
	background: linear-gradient(top, #efefef 0%, #2980b9 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #2980b9 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#2980b9 100%); 
	box-shadow: 0px 0px 9px rgba(0,0,0,0.15);
	padding: 0 20px;
	border-radius: 10px;  
	list-style: none;
	position: relative;
	display: inline-table;
	height: 50px;
}
	nav ul:after {
		content: ""; clear: both; display: block;
	}
	nav ul li {
	float: left;
}
	nav ul li:hover {
		background: #2980b9;
		/*
		background: linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -moz-linear-gradient(top, #4f5964 0%, #5f6975 40%);
		background: -webkit-linear-gradient(top, #4f5964 0%,#5f6975 40%);
		*/
	}
		nav ul li:hover a {
			color: #fff;
		}
	
	nav ul li a {
		display: block; padding: 25px 40px;
		color: #757575; text-decoration: none;
	}
	nav ul ul {
	background: #2980b9; border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
	width: 175px;
}
	nav ul ul li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		position: relative;
	}
		nav ul ul li a {
			padding: 15px 40px;
			color: #fff;
		}	
			nav ul ul li a:hover {
				background: #2980b9;
			}
body {
	background-color:#3498db;
	
}
.Picture {
	height = 300px;
	width= 300px;
	
}
.panorama {
	
	
	
}
.border {
	height = 250px;
	width = 100%;
	background-color: #2980b9;
	padding-top: 100px;
}

div.Picture a img {
    padding-bottom: 0px !important;
	padding-top: 0px !important;
    
}

.Nav {
	display: inline;
	margin-top: 25px;
	padding: 0px 5% 0px 5%;
	position: relative;
	top: 5px;
	text-decoration: none;
	font-size: 1.25em;
	
	
}
#NavBar a {
	color: white;
	font-family: helvetica;
}

#NavBar {
	z-index: 1;
	position: fixed;
	width: 100%;
	margin-top: -10px;
	height: 35px;
	background-color: #2980b9;
	margin-bottom: 0px;
	margin-left:-8px;
	font-color: white;
}